@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

/* reset all indents */
* {
  padding: 0;
  margin: 0;
	line-height: 1.25em;
}

.app {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  
  color: white;
  font-family: 'Bowlby One SC';
  font-size: 12px;
}

.weather {
  min-width: 300px;
  min-height: 500px;
  padding: 15px;
  border-radius: 15px;
  background-image: url('https://images.unsplash.com/photo-1572873673903-0960866bb43c?ixlib=rb-1.2.1&auto=format&fit=crop&w=330&q=80')
}

.gradient {
  /* to cover all the .weather container */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
	border-radius: 15px;
	opacity: 0.8;
}

.position-details,
.weather-details {
  /* to put layer with text on top of gradient */
  position: absolute;
  left: 25px;
}

/* put it to the top part of .weather container */
.position-details {
  top: 25px;
}

/* put it to the bottom part of .weather container */
.weather-details {
  bottom: 25px;
}

.weather-icon {
  width: 55px;
  height: 55px;
}

.timezone-icon {
	margin-right: 5px;
}

.timezone {
  display: inline-block;
}

.temperature {
  font-size: 65px;
}

.temperature:not(:empty)::after {
  content: '\00b0 C'
}

.description {
  font-size: 35px;
}

.pressure,
.humidity {
  display: none;
}